* {
    --lavender: #bb99ff;
    --matcha: #ace600;
}



body{
    background-color: var(--lavender);
}


#heading {
    color:var(--matcha);
    font-family: "Quicksand", sans-serif;
    font-size: 80pt;
    line-height: 150%;
    text-transform: uppercase;
    font-weight: 500%;
}

.description {

}

.description > ul {

}

nav {
    background-color: var(--matcha);
    font-family: "Quicksand", sans-serif;
}

nav > ul {
    font-size: 24pt;
    line-height: 150%;
}

nav > ul > li {

}

h1 {
    font-family: "Quicksand", sans-serif;
    color: var(--matcha);
    font-size: 60px;
    font-style: normal;
    font-weight: 400%;
    line-height: 140%;

}

h2 {
    color: var(--matcha);
}

h3 {
    color: var(--matcha);
}

strong {

}

italic {

}

