* {
    --lavender: #bb99ff;
    --matcha: #ace600;
    --slate: #333333;
    font-size: 12px;
}

body {
    position: relative;
    background-color: var(--lavender);
    margin: 0px;
    padding: 0px;
    font-size: 1rem;
}

.container-content {
    position: relative;
    left: 25vw;
    padding: 36px;
    margin: 24px;
    width: 65vw;
    font-size: 2rem;
}

#heading {
    text-align: center;
    color: var(--matcha);
    font-family: "Quicksand", sans-serif;
    font-size: 8rem;
    line-height: 135px;
    text-transform: uppercase;
    font-weight: 500;
    text-decoration: underline;
}

.description {
    font-family: "Quicksand", sans-serif;
    color: var(--slate);
    font-size: 2rem;
    font-style: normal;
    font-weight: 300;
    line-height: 40px;
}

.description>div {
    font-size: 2rem;
}

.description>ul {
    list-style-type: circle;
    color: var(--slate);
    margin: 10px;
}

.description>ul>li>a {
    color: var(--matcha);
    text-decoration: none;
    font-size: 2rem;
}

.description>ul>li>a:active {
    color: var(--slate);
    background-color: var(--matcha);
    font-weight: 800;
    text-decoration: none;
}

.description>ul>li>a:visited {
    color: var(--slate);
    text-decoration: none;
}

nav {
    background-color: var(--matcha);
    font-family: "Quicksand", sans-serif;
    position: fixed;
    top: 0px;
    width: 25vw;
    height: 100vh;
    font-size: 3rem;
}

nav>ul {
    margin-left: 0px;
    margin-top: 10vh;
    padding: 0px;
    text-align: center;
    font-size: 3rem;
    line-height: 150%;
    color: var(--lavender);
    font-family: "Quicksand", sans-serif;
    font-weight: 200;
    list-style-type: none;
}

nav>#menu {
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    background-color: var(--lavender);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: block;
}

nav>#menu>span {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
}

nav>ul>li {
    margin: 0px;
    padding: 0px;
}

nav>ul>li>a,
a:visited {
    padding: 10px;
    font-size: 3rem;
    color: var(--lavender);
    text-decoration: none;
}

h1 {
    font-family: "Quicksand", sans-serif;
    color: var(--matcha);
    padding-left: 25px;
    font-size: 5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 140px;
}

h2 {
    color: var(--matcha);
    text-align: center;
    font-family: "Quicksand", sans-serif;
    font-size: 4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
}

h3 {
    color: var(--matcha);
    text-align: center;
    font-family: "Quicksand", sans-serif;
    font-size: 3rem;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
}

caption {
    font-family: "Quicksand", sans-serif;
    text-transform: lowercase;
    color: black;
    font-size: 2rem;
    font-weight: 700;
}

strong {
    font-family: "Quicksand", sans-serif;
    font-size: 2rem;
    color: var(--lavender);
    background-color: var(--matcha);
    font-weight: 800;
}

i {
    font-family: "Quicksand", sans-serif;
    font-size: 2rem;
    color: var(--lavender);
    background-color: var(--matcha);
    font-weight: 600;
}

@media only screen and (max-width: 600px) {
    * {
        font-size: 10px;
    }

    #heading {
        margin-left: 10vw;
        text-align: center;
    }

    nav {
        position: fixed;
        top: 0px;
        height: 15vh;
        width: 100vw;
    }

    nav>ul {
        display: flex;
        margin: 10px auto;
        gap: 2rem;
        padding: 0px;
        text-align: center;
        font-size: 3rem;
        font-style: normal;
        color: var(--slate);
        font-family: "Quicksand", sans-serif;
        font-weight: 200;
        list-style-type: none;
        justify-content: center;
        align-items: center;
    }

    nav>#menu {
        display: none;
    }

    .container-content {
        position: relative;
        top: 12vh;
        left: 0px;
        padding: 36px;
        margin: 0px;
        width: 60%;
        font-size: 2rem;
    }
}