/* Global */
body {
    background-color: #FFFFFF;
    color: #555555;
}

/* Header */
header {
    background-color: #002171;
    color: #FFFFFF;
}

/* Navigation */
nav {
    background-color: #BBDEFB;
}

/* Headings */
h1 {
    margin-bottom: 0;
}
h2 {
    color: #1976D2;
}

/* Description terms */
dt {
    color: #002171;
}

/* Special class */
.resort {
    color: #1976D2;
}